.analytics_container {
    display: flex;
    background-color: #F7F7FC;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 32px;
    padding-right: 32px;
}

.analytics_inner_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding-top: 24px;
    padding-bottom: 32px;
    border-radius: 8px;
}