.product-container {
    display: flex;
    flex-direction: column;
    background-color: #F7F7FC;
    /* height: 100%; */
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 32px;
    padding-right: 32px;
}

.product-inner-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 24px;
    padding-bottom: 40px;
    border-radius: 8px;
}

.product-label {
    font-size: 24px;
    line-height: 29px;
    font-family: 'Mulish-Bold';
    text-align: left;
    margin-bottom: 40px;
}

.mt-24 {
    margin-top: 24px;
}

.cancelLabel{
    font-size: 16px;
    line-height: 19px;
    font-family: 'Mulish-bold';
    color: #92929D;
    cursor: pointer;
}

.buttons-container{
    display: flex;
    align-items: center;
    gap: 40px;
}