.search-box-container {
    display: flex;
    align-items: center;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #F7F7FC;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 8px;
}

.search-box {
    width: 100%;
    border-color: transparent;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Mulish-Regular';
    margin-left: 8px;
}

.search-box:focus {
    border-color: transparent;
    background-color: transparent;
    outline: none;
}

.search-icon {
    height: 24px;
    width: 24px;
}