.employee-badge {
    display: flex;
    width: fit-content;
    padding-top: 3px;
    padding-left: 8px;
    padding-bottom: 3px;
    padding-right: 8px;
    border-radius: 4px;
    border: 1px solid;
    font-size: 12px;
    line-height: 14px;
    font-weight: 'Mulish-Bold';
}

.employee-badge-container {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    justify-content: center;
}

.employee-photo {
    height: 64px;
    width: 64px;
    border-radius: 32px;
    background-color: #E2E2EA;
}

.employee-card {
    border: 1px solid #E1E1FB;
    display: flex;
    padding: 16px;
    border-radius: 8px;
    flex-direction: row;
    justify-content: space-between;
}

.employee-name {
    font-size: 16px;
    line-height: 19px;
    font-family: 'Mulish-Bold';
    color: #11142D;
    text-align: left;
}

.employee-id-container {
    display: flex;
    flex-direction: row;
}

.details-label {
    font-size: 14px;
    line-height: 17px;
    font-family: 'Mulish-Bold';
    color: #5541D7;
    margin-left: 16px;
}

.three-dots-icon {
    height: 24px;
    width: 24px;
    align-self: flex-start;
    cursor: pointer;
}